<nav class="mb-1 navbar sticky-top navbar-expand-lg navbar-dark mdb-color darken-3">
    <div class="container">
        <a class="navbar-brand logo" href="#">
            <h2>Sahayi</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dash">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/addvolunteer">Volunteers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/register">Add Local Body</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#passreset" href="">Reset Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" (click)="signout()">Sign out</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div id="passreset" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>Provide email for sending password reset mail</p>
                <input class="form-control" id="resetpassword">
            </div>
            <div class="modal-footer">
                <button type="button" (click) = "resetpassword()" class="btn btn-primary" data-dismiss="modal">Send</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>