<app-navbar></app-navbar>
<div class="container-fluid py-4">
    <div style="text-align: right;">
        <p>District : {{district}}</p>
        <p style="margin-top: -15px;">Local Body : {{localbody}}</p>
    </div>
    <div class="row" style="justify-content: center;">
        <ng-container *ngFor="let user of requestDetails">
            <div *ngIf="user.status == 'Not Done'" [ngClass]="{'bg-danger': user.status=='Not Done'}"
                class="card shadow-lg col-lg-3 col-md-4 m-2">
                <div class="card-body">
                    <div class="card-title d-flex">
                        <h4 class="mt-3">{{user.username}}</h4>
                        <button (click)="updateRequest(user)" class="btn btn-md btn-link ml-auto mx-3"><i
                                class="fa fa-edit fa-2x"></i></button>
                    </div>
                    <table class="table table-responsive">
                        <tbody>
                            <tr>
                                <td>Mobile </td>
                                <td>: {{user.mobile}}</td>
                            </tr>
                            <tr>
                                <td>Address </td>
                                <td>: {{user.address}}</td>
                            </tr>
                            <tr>
                                <td>Required Item </td>
                                <td>: {{user.requireditem | comareplacing}}</td>
                            </tr>
                            <tr>
                                <td>Volunteer </td>
                                <td>: {{user.volunteerId | valreplacing}}</td>
                            </tr>
                            <tr>
                                <td>Status </td>
                                <td>: {{user.status}}</td>
                            </tr>
                            <tr>
                                <td>Discription </td>
                                <td>: {{user.Discription}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </ng-container>
        <ng-container *ngFor="let user of requestDetails">
            <div *ngIf="user.status == 'Rejected'" [ngClass]="{'bg-danger': user.status=='Rejected'}"
                class="card shadow-lg col-lg-3 col-md-4 m-2">
                <div class="card-body">
                    <div class="card-title d-flex">
                        <h4 class="mt-3">{{user.username}}</h4>
                        <button (click)="updateRequest(user)" class="btn btn-md btn-link ml-auto mx-3"><i
                                class="fa fa-edit fa-2x"></i></button>
                    </div>
                    <table class="table table-responsive">
                        <tbody>
                            <tr>
                                <td>Mobile </td>
                                <td>: {{user.mobile}}</td>
                            </tr>
                            <tr>
                                <td>Address </td>
                                <td>: {{user.address}}</td>
                            </tr>
                            <tr>
                                <td>Required Item </td>
                                <td>: {{user.requireditem | comareplacing}}</td>
                            </tr>
                            <tr>
                                <td>Volunteer </td>
                                <td>: {{user.volunteerId | valreplacing}}</td>
                            </tr>
                            <tr>
                                <td>Status </td>
                                <td>: {{user.status}}</td>
                            </tr>
                            <tr>
                                <td>Discription </td>
                                <td>: {{user.Discription}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </ng-container>
        <ng-container *ngFor="let user of requestDetails">
            <div *ngIf="user.status == 'Submitted'" class="card shadow-lg col-lg-3 col-md-4 m-2">
                <div class="card-body">
                    <div class="card-title d-flex">
                        <h4 class="mt-3">{{user.username}}</h4>
                        <button (click)="updateRequest(user)" class="btn btn-md btn-link ml-auto mx-3"><i
                                class="fa fa-edit fa-2x"></i></button>
                    </div>
                    <table class="table table-responsive">
                        <tbody>
                            <tr>
                                <td>Mobile </td>
                                <td>: {{user.mobile}}</td>
                            </tr>
                            <tr>
                                <td>Address </td>
                                <td>: {{user.address}}</td>
                            </tr>
                            <tr>
                                <td>Required Item </td>
                                <td>: {{user.requireditem | comareplacing}}</td>
                            </tr>
                            <tr>
                                <td>Volunteer </td>
                                <td>: {{user.volunteerId}}</td>
                            </tr>
                            <tr>
                                <td>Status </td>
                                <td>: {{user.status}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </ng-container>
        <ng-container *ngFor="let user of requestDetails">
            <div *ngIf="user.status == 'Assigned'" [ngClass]="{'bg-light': user.status=='Assigned'}"
                class="card shadow-lg col-lg-3 col-md-4 m-2">
                <div class="card-body">
                    <div class="card-title d-flex">
                        <h4 class="mt-3">{{user.username}}</h4>
                        <button (click)="updateRequest(user)" class="btn btn-md btn-link ml-auto mx-3"><i
                                class="fa fa-edit fa-2x"></i></button>
                    </div>
                    <table class="table table-responsive">
                        <tbody>
                            <tr>
                                <td>Mobile </td>
                                <td>: {{user.mobile}}</td>
                            </tr>
                            <tr>
                                <td>Address </td>
                                <td>: {{user.address}}</td>
                            </tr>
                            <tr>
                                <td>Required Item </td>
                                <td>: {{user.requireditem | comareplacing}}</td>
                            </tr>
                            <tr>
                                <td>Volunteer </td>
                                <td>: {{user.volunteerId | valreplacing}}</td>
                            </tr>
                            <tr>
                                <td>Status </td>
                                <td>: {{user.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-container>
        <ng-container *ngFor="let user of requestDetails">
            <div *ngIf="user.status == 'Confirmed'" [ngClass]="{'bg-info': user.status=='Confirmed'}"
                class="card shadow-lg col-lg-3 col-md-4 m-2">
                <div class="card-body">
                    <div class="card-title d-flex">
                        <h4 class="mt-3">{{user.username}}</h4>
                        <button (click)="updateRequest(user)" class="btn btn-md btn-link ml-auto mx-3"><i
                                class="fa fa-edit fa-2x"></i></button>
                    </div>
                    <table class="table table-responsive">
                        <tbody>
                            <tr>
                                <td>Mobile </td>
                                <td>: {{user.mobile}}</td>
                            </tr>
                            <tr>
                                <td>Address </td>
                                <td>: {{user.address}}</td>
                            </tr>
                            <tr>
                                <td>Required Item </td>
                                <td>: {{user.requireditem | comareplacing}}</td>
                            </tr>
                            <tr>
                                <td>Volunteer </td>
                                <td>: {{user.volunteerId | valreplacing}}</td>
                            </tr>
                            <tr>
                                <td>Status </td>
                                <td>: {{user.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-container>
        <ng-container *ngFor="let user of requestDetails">
            <div *ngIf="user.status == 'Done'" [ngClass]="{'bg-success': user.status=='Done'}"
                class="card shadow-lg col-lg-3 col-md-4 m-2">
                <div class="card-body">
                    <div class="card-title d-flex">
                        <h4 class="mt-3">{{user.username}}</h4>
                        <button *ngIf="user.status != 'Done'" (click)="updateRequest(user)"
                            class="btn btn-raised btn-link ml-auto mx-3"><i class="fa fa-edit fa-2x"></i></button>
                    </div>
                    <table class="table table-responsive">
                        <tbody>
                            <tr>
                                <td>Mobile </td>
                                <td>: {{user.mobile}}</td>
                            </tr>
                            <tr>
                                <td>Address </td>
                                <td>: {{user.address}}</td>
                            </tr>
                            <tr>
                                <td>Required Item </td>
                                <td>: {{user.requireditem | comareplacing}}</td>
                            </tr>
                            <tr>
                                <td>Volunteer </td>
                                <td>: {{user.volunteerId | valreplacing}}</td>
                            </tr>
                            <tr>
                                <td>Status </td>
                                <td>: {{user.status}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </ng-container>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Assign Volunteer</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body table-responsive">
                <table *ngIf="volunteers" class="table table-bordered" style="text-align: center;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Specialisation</th>
                            <th>Ward</th>
                            <th>Request Assigned</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="currentRequest && currentRequest.volunteerId">
                        <ng-container *ngFor="let user of volunteers">
                            <tr
                                *ngIf="currentRequest.volunteerId == user.id && currentRequest.status != 'Rejected' && currentRequest.status != 'Not Done'">
                                <td>{{user.name}}</td>
                                <td>{{user.phone}}</td>
                                <td>{{user.specialisation}}</td>
                                <td>{{user.ward}}</td>
                                <td>{{user.requestId | valreplacing}}</td>
                                <td *ngIf="!user.requestId"><button (click)='assignVolunteer(user)'
                                        class="btn btn-primary">Assign</button></td>
                                <td *ngIf="user.requestId"><button (click)='removeVolunteer(user)'
                                        class="btn btn-danger">Remove</button></td>
                            </tr>
                        </ng-container>
                    </tbody>
                    <tbody
                        *ngIf="currentRequest && (!currentRequest.volunteerId || currentRequest.status == 'Rejected' || currentRequest.status == 'Not Done')">
                        <ng-container *ngFor="let user of volunteers">
                            <tr>
                                <td>{{user.name}}</td>
                                <td>{{user.phone}}</td>
                                <td>{{user.specialisation}}</td>
                                <td>{{user.ward}}</td>
                                <td *ngIf = "!user.requestId">{{user.requestId}}</td>
                                <td *ngIf = "user.requestId">{{user.requestId | valreplacing}}</td>
                                <td><button (click)='assignVolunteer(user)'
                                        class="btn btn-primary">Assign</button></td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-raised btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>