<app-navbar></app-navbar>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 offset-md-4 px-2 pt-4 pb-2">
			<div class="card shadow-lg rounded">

				<div class="card-body">
					<h1 class="card-title">Local Body Registration</h1>					
					<div *ngIf="processing" class="my-2 alert alert-primary">
						{{this.processing}}
					</div>
					<div *ngIf="error" class="my-2 alert alert-danger">
						{{this.error}}
					</div>
					<div *ngIf="success" class="my-2 alert alert-success">
						{{this.success}}
					</div>
					<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
						<div>
							<label for="dis">District :</label>
							<select id="dis" formControlName="district" class="mdb-select md-form">
								<option value="" disabled selected>Choose your option</option>
								<option *ngFor="let data of district" [value]="data">{{data}}</option>
							</select>
							<div *ngIf="registrationForm.controls['district'].errors && (registrationForm.controls['district'].dirty || registrationForm.controls['district'].touched)"
								class="my-2 alert alert-danger">
								District is required
							</div>
						</div>						
						<label>Municipality / Panchayath</label>
						<input type="text" formControlName="name" id="mun" class="my-2 form-control">
						<div *ngIf="registrationForm.controls['name'].invalid && (registrationForm.controls['name'].dirty || registrationForm.controls['name'].touched)"
							class="my-2 alert alert-danger">
							Municipality / Panchayath name is required
						</div>
						<label>Email</label>
						<input type="email" formControlName="email" id="email" class="my-2 form-control">
						<div *ngIf="registrationForm.controls['email'].invalid && (registrationForm.controls['email'].dirty || registrationForm.controls['email'].touched)"
							class="my-2 alert alert-danger">
							Please enter valid email id
						</div>
						<label>Password</label>
						<input type="password" formControlName="password" id="password" class="my-2 form-control">
						<div *ngIf="registrationForm.controls['password'].invalid && (registrationForm.controls['password'].dirty || registrationForm.controls['password'].touched)"
							class="my-2 alert alert-danger">
							Passwords should be atleast 8 charecters in length
						</div>						
						<label>Confirm Password</label>
						<input type="password" formControlName="rpassword" id="rpassword" class="my-2 form-control">
						<div *ngIf="(registrationForm.controls['rpassword'].invalid && (registrationForm.controls['rpassword'].dirty || registrationForm.controls['rpassword'].touched))|| (registrationForm.controls['rpassword'].value!=registrationForm.controls['password'].value)"
							class="my-2 alert alert-danger">
							Passwords dont match
						</div>
						<button class="my-2 btn btn-raised btn-success" type="submit">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>Sucessfully Registerd</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>