<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-4  px-2 pt-4 pb-2">
            <div class="card shadow-lg rounded">

                <div class="card-body">
                    <h1 class="card-title">Add Volunteer</h1>
                    <form [formGroup]="volunteerForm" (ngSubmit)="onSubmit()">
                        <div *ngIf="volunteerForm.controls['name'].invalid && (volunteerForm.controls['name'].dirty || volunteerForm.controls['name'].touched)"
                            class="my-2 alert alert-danger">
                            Name is required
                        </div>
                        <label>Name</label>
                        <input type="text" formControlName="name" id="" class="my-2 form-control">


                        <div *ngIf="volunteerForm.controls['phone'].invalid && (volunteerForm.controls['phone'].dirty || volunteerForm.controls['phone'].touched)"
                            class="my-2 alert alert-danger">
                            Please enter valid phone number
                        </div>
                        <label>Phone</label>
                        <input type="text" formControlName="phone" pattern="\d{10}" id="" class="my-2 form-control">

                        <div *ngIf="volunteerForm.controls['ward'].invalid && (volunteerForm.controls['ward'].dirty || volunteerForm.controls['ward'].touched)"
                            class="my-2 alert alert-danger">
                            Please enter valid ward number
                        </div>
                        <label>ward</label>
                        <input type="number" formControlName="ward" id="" class="my-2 form-control">

                        <div *ngIf="volunteerForm.controls['email'].invalid && (volunteerForm.controls['email'].dirty || volunteerForm.controls['email'].touched)"
                            class="my-2 alert alert-danger">
                            Please enter valid email id
                        </div>
                        <label>Email</label>
                        <input type="email" formControlName="email" id="" class="my-2 form-control">

                        <div *ngIf="volunteerForm.controls['specialisation'].invalid && (volunteerForm.controls['specialisation'].dirty || volunteerForm.controls['specialisation'].touched)"
                            class="my-2 alert alert-danger">
                            Please enter valid email id
                        </div>
                        <label>specialisation</label>
                        <select formControlName="specialisation" id="" class="my-2 form-control">
                            <option value="Food Delivery"> Food Delivery </option>
                            <option value="Doctor"> Doctor </option>
                        </select>

                        <div *ngIf="volunteerForm.controls['password'].invalid && (volunteerForm.controls['password'].dirty || volunteerForm.controls['password'].touched)"
                            class="my-2 alert alert-danger">
                            Passwords should be atleast 8 charecters in length
                        </div>
                        <label>Password</label>
                        <input type="password" formControlName="password" id="" class="my-2 form-control">
                        <div *ngIf="(volunteerForm.controls['rpassword'].invalid && (volunteerForm.controls['rpassword'].dirty || volunteerForm.controls['rpassword'].touched))|| (volunteerForm.controls['rpassword'].value!=volunteerForm.controls['password'].value)"
                            class="my-2 alert alert-danger">
                            Passwords dont match
                        </div>
                        <label>Confirm Password</label>
                        <input type="password" formControlName="rpassword" id="" class="my-2 form-control">
                        <button class="my-2 btn btn-success" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 px-2 pt-4 pb-2">
            <div class="card shadow-lg rounded p-3">
                <table *ngIf = "volunteerlist" class="table table-bordered" style="text-align: center;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>ward</th>
                            <th>Specialisation</th>
                            <th>Request Assigned</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of volunteerlist | async" [ngClass]="{'bg-warning': user.requestId}">
                            <td>{{user.name}}</td>
                            <td>{{user.phone}}</td>
                            <td>{{user.ward}}</td>
                            <td>{{user.specialisation}}</td>
                            <td *ngIf = "user.requestId">yes</td>
                            <td *ngIf = "!user.requestId">No</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>