<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-4  px-2 pt-4 pb-2">
            <div class="card shadow-lg rounded">

                <div class="card-body">
                    <h1 class="card-title">Add Volunteer</h1>
                    <form [formGroup]="volunteerForm" (ngSubmit)="onSubmit()">                        
                        <label>Name</label>
                        <input type="text" formControlName="name" class="my-2 form-control">
                                                
                        <label>Phone</label>
                        <input type="text" formControlName="phone" pattern="\d{10}" class="my-2 form-control">
                                                
                        <label>ward</label>
                        <input type="number" formControlName="ward" class="my-2 form-control">
                        
                        <label>specialisation</label>
                        <select formControlName="specialisation" id="" class="my-2 form-control">
                            <option value="Food Delivery"> Food Delivery </option>
                            <option value="Doctor"> Doctor </option>
                        </select>
                        
                        <button class="my-2 btn btn-success" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 px-2 pt-4 pb-2">
            <div class="card shadow-lg p-4">
                <table *ngIf = "volunteerlist" class="table table-bordered table-responsive" style="text-align: center;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>ward</th>
                            <th>Specialisation</th>
                            <th>Request Assigned</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of volunteerlist | async" [ngClass]="{'bg-warning': user.requestId}">
                            <td>{{user.name}}</td>
                            <td>{{user.phone}}</td>
                            <td>{{user.ward}}</td>
                            <td>{{user.specialisation}}</td>
                            <td *ngIf = "user.requestId">yes</td>
                            <td *ngIf = "!user.requestId">No</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>