<nav class="mb-1 navbar sticky-top navbar-expand-lg navbar-dark mdb-color darken-3">
    <div class="container">
        <a class="navbar-brand logo" href="#">
            <h2>Sahayi</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="" data-toggle="modal" data-target="#passwordreset">Reset Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" (click)="signout()">Sign out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<p class="ml-4 mt-3">Welcome {{volname}}</p>
<div class="row" style="justify-content: center;">
    <ng-container *ngFor="let user of volunteerTaskList">
        <div *ngIf = "user.status != 'Done' && user.status != 'Rejected' && user.status != 'Not Done'" [ngClass]="{'bg-info': user.status=='Confirmed'}"
            class="card shadow-lg col-lg-3 col-md-4 m-2">
            <div class="card-body">
                <div class="card-title d-flex">
                    <h4>{{user.username}} <span style="font-size: 15px;">({{user.date}})</span></h4>
                </div>
                <table class="table table-responsive">
                    <!-- <thead>
                      <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                      </tr>
                    </thead> -->
                    <tbody>
                        <tr>
                            <td>Mobile </td>
                            <td> {{user.mobile}}</td>
                        </tr>
                        <tr>
                            <td>Address </td>
                            <td> {{user.address}}</td>
                        </tr>
                        <tr>
                            <td>Required Item </td>
                            <td> {{user.requireditem}}</td>
                        </tr>
                        <tr *ngIf ="user.comment">
                            <td>Comments</td>
                            <td>: {{user.comment}}</td>
                        </tr>
                        <tr>
                            <td>Status </td>
                            <td> {{user.status}}</td>
                        </tr>                        
                    </tbody>
                </table>
                <div class="d-flex">
                    <div *ngIf="user.status == 'Assigned'">
                        <button class="btn btn-raised btn-primary mx-2" (click)="onAccept(user)"> Accept</button>
                    </div>
                    <div *ngIf="user.status == 'Assigned'">
                        <button class="btn btn-raised btn-danger mx-2" (click)="onRejected(user)"> Reject</button>
                    </div>
                    <div *ngIf="user.status == 'Confirmed'">
                        <button class="btn btn-raised btn-primary mx-2" (click)="onDone(user)"> Done</button>
                    </div>
                    <div *ngIf="user.status == 'Confirmed'">
                        <button class="btn btn-raised btn-primary mx-2" (click)="onNotDone(user)"> Not Done</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngFor="let user of volunteerTaskList">
        <div *ngIf = "user.status == 'Done' || user.status == 'Rejected' || user.status == 'Not Done'" [ngClass]="{'bg-success': user.status=='Done', 'bg-danger': (user.status=='Rejected' || user.status=='Not Done')}"
            class="card shadow-lg col-lg-3 col-md-4 m-2">
            <div class="card-body">
                <div class="card-title d-flex">
                    <h4>{{user.username}} <span style="font-size: 15px;">({{user.date}})</span></h4>
                </div>
                <table class="table table-responsive">
                    <!-- <thead>
                      <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                      </tr>
                    </thead> -->
                    <tbody>
                        <tr>
                            <td>Mobile </td>
                            <td> {{user.mobile}}</td>
                        </tr>
                        <tr>
                            <td>Address </td>
                            <td> {{user.address}}</td>
                        </tr>
                        <tr>
                            <td>Required Item </td>
                            <td> {{user.requireditem}}</td>
                        </tr>
                        <tr *ngIf ="user.comment">
                            <td>Comments</td>
                            <td>: {{user.comment}}</td>
                        </tr>
                        <tr>
                            <td>Status </td>
                            <td> {{user.status}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex">
                    <div *ngIf="user.status == 'Assigned'">
                        <button class="btn btn-raised btn-primary mx-2" (click)="onAccept(user)"> Accept</button>
                    </div>
                    <div *ngIf="user.status == 'Assigned'">
                        <button class="btn btn-raised btn-danger mx-2" (click)="onRejected(user)"> Reject</button>
                    </div>
                    <div *ngIf="user.status == 'Confirmed'">
                        <button class="btn btn-raised btn-primary mx-2" (click)="onDone(user)"> Done</button>
                    </div>
                    <div *ngIf="user.status == 'Confirmed'">
                        <button class="btn btn-raised btn-primary mx-2" (click)="onNotDone(user)"> Not Done</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>Password is not valid</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div id="passwordreset" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content p-4">
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <div *ngIf="processing" class="my-2 alert alert-primary">
                    {{this.processing}}
                </div>
                <div *ngIf="error" class="my-2 alert alert-danger">
                    {{this.error}}
                </div>
                <div *ngIf="success" class="my-2 alert alert-success">
                    {{this.success}}
                </div>

                <div *ngIf="resetForm.controls['password'].invalid && (resetForm.controls['password'].dirty || resetForm.controls['password'].touched)"
                    class="my-2 alert alert-danger">
                    Passwords should be atleast 8 charecters in length
                </div>
                <label>Password</label>
                <input type="password" formControlName="password" id="password" class="my-2 form-control">
                <div *ngIf="(resetForm.controls['rpassword'].invalid && (resetForm.controls['rpassword'].dirty || resetForm.controls['rpassword'].touched))|| (resetForm.controls['rpassword'].value!=resetForm.controls['password'].value)"
                    class="my-2 alert alert-danger">
                    Passwords dont match
                </div>
                <label>Confirm Password</label>
                <input type="password" formControlName="rpassword" id="rpassword" class="my-2 form-control">
                <div class="d-flex">
                    <button class="btn btn-success" type="submit">Submit</button>
                    <button type="button" class="btn btn-danger ml-3" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>