<nav class="navbar navbar-expand-lg navbar-light shadow-sm  bg-white">
    <div class="container">
        <a class="navbar-brand logo" href="#">
            <h2>Sahayi</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" (click)="signout()">Sign out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="row" style="justify-content: center;">

    <div class="card-body">
        <h1 class="card-title">Password Reset</h1>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div *ngIf="processing" class="my-2 alert alert-primary">
                {{this.processing}}
            </div>
            <div *ngIf="error" class="my-2 alert alert-danger">
                {{this.error}}
            </div>
            <div *ngIf="success" class="my-2 alert alert-success">
                {{this.success}}
            </div>

            <div *ngIf="resetForm.controls['password'].invalid && (resetForm.controls['password'].dirty || resetForm.controls['password'].touched)"
                class="my-2 alert alert-danger">
                Passwords should be atleast 8 charecters in length
            </div>
            <label>Password</label>
            <input type="password" formControlName="password" id="" class="my-2 form-control">
            <div *ngIf="(resetForm.controls['rpassword'].invalid && (resetForm.controls['rpassword'].dirty || resetForm.controls['rpassword'].touched))|| (resetForm.controls['rpassword'].value!=resetForm.controls['password'].value)"
                class="my-2 alert alert-danger">
                Passwords dont match
            </div>
            <label>Password</label>
            <input type="password" formControlName="rpassword" id="" class="my-2 form-control">
            <button class="my-2 btn btn-success" type="submit">Submit</button>
        </form>
    </div>

    <div *ngFor="let user of volunteerTaskList"
        [ngClass]="{'bg-success': user.status=='Done', 'bg-danger': user.status=='Rejected'}"
        class="card shadow-lg col-lg-3 col-md-4 m-2">
        <div class="card-body">
            <div class="card-title d-flex">
                <h4>{{user.username}}</h4>
            </div>
            <table class="table table-responsive">
                <!-- <thead>
                      <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                      </tr>
                    </thead> -->
                <tbody>
                    <tr>
                        <td>Mobile </td>
                        <td> {{user.mobile}}</td>
                    </tr>
                    <tr>
                        <td>Address </td>
                        <td> {{user.address}}</td>
                    </tr>
                    <tr>
                        <td>Required Item </td>
                        <td> {{user.requireditem}}</td>
                    </tr>
                    <tr>
                        <td>Status </td>
                        <td> {{user.status}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex">
                <div *ngIf="user.status == 'Assigned'">
                    <button class="btn btn-primary mx-2" (click)="onAccept(user)"> Accept</button>
                </div>
                <div *ngIf="user.status == 'Assigned'">
                    <button class="btn btn-danger mx-2" (click)="onRejected(user)"> Reject</button>
                </div>
                <div *ngIf="user.status == 'Confirmed'">
                    <button class="btn btn-primary mx-2" (click)="onDone(user)"> Done</button>
                </div>
                <div *ngIf="user.status == 'Confirmed'">
                    <button class="btn btn-primary mx-2" (click)="onNotDone(user)"> Not Done</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>Email or Password is incorrect</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>