/* You can add global styles to this file, and also import other style files */
body{
    background:#F5F6FA;
}
.logo{
    font-weight: 700;
    font-size:1.25rem;
}
.card-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom:15px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background-color: #F5F5F5; }

  ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4; }
  
  .scrollbar-primary {
  scrollbar-color: #4285F4 #F5F5F5;
  }
  